In [1]:
import pandas as pd
data = {
    'age': [25, 31, 25, 40, 55, 60, 33, 28, 45, 57],
    'income': [50000, 60000, 45000, 70000, 85000, 90000, 65000, 62000, 75000, 85000],
    'age_group': ['21-30', '31-40', '21-30', '31-40', '51-60', '51-60', '31-40', '21-30', '41-50', '51-60']
}

df= pd.DataFrame(data)

#stats
stats = df.groupby('age_group')['income'].describe()
print(stats)

           count          mean          std      min      25%      50%  \
age_group
21-30        3.0  52333.333333  8736.894948  45000.0  47500.0  50000.0
31-40        3.0  65000.000000  5000.000000  60000.0  62500.0  65000.0
41-50        1.0  75000.000000          NaN  75000.0  75000.0  75000.0
51-60        3.0  86666.666667  2886.751346  85000.0  85000.0  85000.0

               75%      max
age_group
21-30      56000.0  62000.0
31-40      67500.0  70000.0
41-50      75000.0  75000.0
51-60      87500.0  90000.0

In [4]:
data=df.groupby('age_group')['income']

print("Median: ")
print(data.median())

Median:
age_group
21-30    50000.0
31-40    65000.0
41-50    75000.0
51-60    85000.0
Name: income, dtype: float64

In [5]:

print("Mean")
print(data.mean())

Mean
age_group
21-30    52333.333333
31-40    65000.000000
41-50    75000.000000
51-60    86666.666667
Name: income, dtype: float64

In [6]:
mode_age = df['age'].mode()
mode_inc = df['income'].mode()
print("mode age: ",mode_age.values)
print("mode age: ",mode_inc.values)

mode age:  [25]
mode age:  [85000]

In [8]:
import pandas as pd

df=pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
data = df.groupby('Species')
stats = data.describe()
print(stats)

                   Id                                                        \
                count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa      50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica   50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0

                SepalLengthCm         ... PetalLengthCm      PetalWidthCm  \
                        count   mean  ...           75%  max        count
Species                               ...
Iris-setosa              50.0  5.006  ...         1.575  1.9         50.0
Iris-versicolor          50.0  5.936  ...         4.600  5.1         50.0
Iris-virginica           50.0  6.588  ...         5.875  6.9         50.0


                  mean       std  min  25%  50%  75%  max
Species
Iris-setosa      0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 40 columns]

In [10]:

quantiles = data.quantile([0.25, 0.5, 0.75])
print(quantiles)

                          Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Species
Iris-setosa     0.25   13.25          4.800         3.125          1.400
                0.50   25.50          5.000         3.400          1.500
                0.75   37.75          5.200         3.675          1.575
Iris-versicolor 0.25   63.25          5.600         2.525          4.000
                0.50   75.50          5.900         2.800          4.350
                0.75   87.75          6.300         3.000          4.600
Iris-virginica  0.25  113.25          6.225         2.800          5.100
                0.50  125.50          6.500         3.000          5.550
                0.75  137.75          6.900         3.175          5.875

                      PetalWidthCm
Species
Iris-setosa     0.25           0.2
                0.50           0.2
                0.75           0.3
Iris-versicolor 0.25           1.2
                0.50           1.3
                0.75           1.5
Iris-virginica  0.25           1.8
                0.50           2.0
                0.75           2.3

In [16]:
summary_stats_species = data['SepalWidthCm'].describe()

print("\nSummary Statistics by Species for Sepal Width:")
print(summary_stats_species)

Summary Statistics by Species for Sepal Width:
                 count   mean       std  min    25%  50%    75%  max
Species
Iris-setosa       50.0  3.418  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor   50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
Iris-virginica    50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

In [11]:
median = data.median()
print(median)

                    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Species
Iris-setosa       25.5            5.0           3.4           1.50
Iris-versicolor   75.5            5.9           2.8           4.35
Iris-virginica   125.5            6.5           3.0           5.55

                 PetalWidthCm
Species
Iris-setosa               0.2
Iris-versicolor           1.3
Iris-virginica            2.0

In [15]:
#median for sepal width
sep_mid = data['SepalWidthCm'].median()
print(sep_mid)

Species
Iris-setosa        3.4
Iris-versicolor    2.8
Iris-virginica     3.0
Name: SepalWidthCm, dtype: float64

In [17]:
mode_of_width = df['SepalWidthCm'].mode()
print("Mode: ",mode_of_width.values)

Mode:  [3.]

In [18]:

data.std()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,14.57738,0.352490,0.381024,0.173511,0.107210
Iris-versicolor,14.57738,0.516171,0.313798,0.469911,0.197753
Iris-virginica,14.57738,0.635880,0.322497,0.551895,0.274650

In [19]:

data.mean()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm
Species,,,,,
Iris-setosa,25.5,5.006,3.418,1.464,0.244
Iris-versicolor,75.5,5.936,2.770,4.260,1.326
Iris-virginica,125.5,6.588,2.974,5.552,2.026